# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
.idea
*.iml
/target/
authserver/target/
authlib/target/
.classpath
.project
.gradle/
.settings/
authlib/.vscode/
authserver/bin/
authlib/build/
authlib/bin/
build/
